mat-card{
  border-radius: 7px;
  margin: 2em auto;
  max-width: 80%;
  background-color: rgba(0, 0, 255, 0.137);
}


.toolbar{
  background-color: #073D8E;
  border-radius: 5px;
  color: bisque;
}

.full-width{
  width: 100%;
}

.min-width{
  width: 100%;
  min-width: 150px;
}
